*~
*out
*.m4
*.files
*.la
*.lo
*.bmp
*.jpg
*.png
.libs/
.deps/
*.o
*.swp
*.in
*.diff
.dirstamp
config*
tags
Makefile
libtool
autom4te.cache
depcomp
install-sh
ltmain.sh
missing
COPYING
INSTALL
compile
stamp-h1
src/.dirstamp
src/crypto_tool
